<div class="container mt-5" *ngIf="book">
    <h2>{{ book.title }}</h2>
    <p><strong>Author:</strong> {{ book.author }}</p>
    <p><strong>Genre:</strong> {{ book.genre }}</p>
    <p><strong>Price:</strong> {{ book.price }}</p>
    <p><strong>In Stock:</strong> {{ book.stock }}</p>

    <!-- <button class="btn btn-primary" (click)="editBook()" [routerLink] = "['/edit', book.id]">Edit books</button> -->
    <!-- <button class="btn btn-secondary" (click)="backToLists()" [routerLink] = "['/']">Back to lists</button> -->
</div>